header nav {
    display: flex;
    justify-content: space-around;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 164, 235);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links {
    display: flex;
    gap: 25px;
}

.section-1 {
    display: flex;
    align-items: center;
    height: 500px;
    background-color: rgb(52, 164, 235);
}




